{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["function", "if", "each", "include", "mixin", "extend"]
    }],
    "selector-type-no-unknown": [true, {
      "ignoreTypes": ["ion-location"]
    }],
    "number-leading-zero": "never",
    "no-descending-specificity": null
  }
}
